<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Button</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column; /* Stack elements vertically */
        }
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h1>SQL Test</h1>
        <p>Welcome to the homepage!</p>
        <p><a href="{{ url_for('login') }}">Login</a> to access the dashboard.</p>
    </div>
</body>
</html>
